/Lab_02/lesson-remote-info.yaml
/course-remote-info.yaml
/Lab_01/lesson-remote-info.yaml
/Lab_03/lesson-remote-info.yaml
/Lab_04/lesson-remote-info.yaml
/Lab_05/lesson-remote-info.yaml
/Lab_01/CharAt/task-remote-info.yaml
/Lab_01/FirstAndLastInverted/task-remote-info.yaml
/Lab_01/IndexOf/task-remote-info.yaml
/Lab_01/InvertHalfString/task-remote-info.yaml
/Lab_01/PrintMiddleChar/task-remote-info.yaml
/Lab_01/Rectangle/task-remote-info.yaml
/Lab_01/StringBuilder/task-remote-info.yaml
/Lab_01/StringClass/task-remote-info.yaml
/Lab_01/UpperCaseInitial/task-remote-info.yaml
/Lab_02/Car/task-remote-info.yaml
/Lab_02/FirstAndLastWord/task-remote-info.yaml
/Lab_02/Infected/task-remote-info.yaml
/Lab_02/InputChecker/task-remote-info.yaml
/Lab_02/Locker/task-remote-info.yaml
/Lab_02/SavingAccount/task-remote-info.yaml
/Lab_02/Student/task-remote-info.yaml
/Lab_02/VendingMachine/task-remote-info.yaml
/Lab_03/Bank/task-remote-info.yaml
/Lab_03/CarSeller/task-remote-info.yaml
/Lab_03/Dice/task-remote-info.yaml
/Lab_03/MagicSquare/task-remote-info.yaml
/Lab_03/PhoneCompany/task-remote-info.yaml
/Lab_03/Purse/task-remote-info.yaml
/Lab_03/Tic-tac-toe/task-remote-info.yaml
/Lab_04/Railways/task-remote-info.yaml
/Lab_04/SMS/task-remote-info.yaml
/Lab_05/Country/task-remote-info.yaml
/Lab_05/Quiz/task-remote-info.yaml
/Lab_05/Quiz2/task-remote-info.yaml
/Lab_05/SMS2/task-remote-info.yaml
/Lab_05/Student/task-remote-info.yaml
